.container-fluid{
	padding: 5px;	
}
.control-label{
  font-size: 18px;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/**{
  border-radius: 0px !important; 
}*/
@font-face {
  font-family: 'OpenSans';
  /*src: url("OpenSans-Light.ttf");*/
  src: url("Arcon-Regular.otf");
}

*{
  border-radius: 0px !important; 
  font-family: 'OpenSans' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

label{
  font-size : 18px;
}

.table{
  font-size : 18px;
}

/*!
 * https://github.com/arqex/react-datetime
 */

.rdt {
  position: relative;
  font-size: 15px;
}
.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid #f9f9f9;
  font-size: 15px;
}
.rdtOpen .rdtPicker {
  display: block;
  font-size: 15px;
}
.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
  font-size: 15px;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
  font-size: 15px;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
  font-size: 15px;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
  font-size: 15px;
}
.rdtPicker td {
  cursor: pointer;
  font-size: 15px;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
  font-size: 15px;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
  font-size: 15px;
}
.rdtPicker td.rdtToday {
  position: relative;
  font-size: 15px;
}
.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #333333;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: 15px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  /*background-color: #428bca;*/
  background-color: #333333;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-size: 15px;
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
  font-size: 15px;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
  font-size: 15px;
}
.rdtPicker td span.rdtOld {
  color: #999999;
  font-size: 15px;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
  font-size: 15px;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
  font-size: 15px;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
  font-size: 15px;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
  font-size: 15px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
  font-size: 15px;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
  font-size: 15px;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
  font-size: 15px;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
  font-size: 15px;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
  font-size: 15px;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
  font-size: 15px;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 15px;
}
.rdtPicker button:hover {
  background-color: #eee;
  font-size: 15px;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
  font-size: 15px;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
  font-size: 15px;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
  font-size: 15px;
}

.rdtCounters {
  display: inline-block;
  font-size: 15px;
}

.rdtCounters > div {
  float: left;
  font-size: 15px;
}

.rdtCounter {
  height: 100px;
  font-size: 15px;
}

.rdtCounter {
  width: 40px;
  font-size: 15px;
}


.rdtCounterSeparator {
  line-height: 100px;
  font-size: 15px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
  font-size: 15px;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
  font-size: 15px;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 15px;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 15px;
  margin-top: 37px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


.page {
  position: relative !important;
  height: 29.7cm !important;
  width: 21cm !important;
  display: block !important;  
  page-break-after: auto !important;
  /*margin-top: -40px;*/
  /*margin: 50px;*/
  /*overflow: hidden;*/
}

.page-landscape {
  position: relative !important;
  width: 29.7cm !important;
  height: 21cm !important;
  display: block !important;  
  page-break-after: auto !important;
  margin-top: -40px;
  /*margin: 50px;*/
  /*overflow: hidden;*/
}
@media print {
  .page {
    margin: 0;
    height: 100%;
    width: 100%;
  }
}

.table-style{
  background-color: red !important;
}


.vertical-text {
  transform: rotate(90deg);
  transform-origin: left top 0;
}